*.iml
.DS_Store
.externalNativeBuild
.gradle
/*/.gradle
/*/.idea
/*/.idea/libraries
/*/.idea/workspace.xml
/*/build
/*/*/build
/*/*/release
/*/captures
/*/gradle
/*/gradle.properties
/*/gradlew
/*/gradlew.bat
/*/local.properties
